<div class="tab-pane fade show" id="pills-security" role="tabpanel"
     aria-labelledby="pills-security-tab">
  <div class="dashboard-privacy">
    <div class="dashboard-bg-box">
      <div class="dashboard-title mb-4">
        <h3>حریم خصوصی</h3>
      </div>

      <div class="privacy-box">
        <div class="d-flex align-items-start">
          <h6>به دیگران اجازه میدهم حساب من را مشاهده کنند.</h6>
          <div class="form-check form-switch switch-radio ms-auto">
            <input class="form-check-input" type="checkbox" role="switch"
                   id="redio1">
            <label class="form-check-label" for="redio1"></label>
          </div>
        </div>

        <p class="text-content">همه مردم می توانند پروفایل من را ببینند</p>
      </div>

      <div class="privacy-box">
        <div class="d-flex align-items-start">
          <h6>ایمیل من در دیدگاه قابل مشاهده باشد</h6>
          <div class="form-check form-switch switch-radio ms-auto">
            <input class="form-check-input" type="checkbox" role="switch"
                   id="redio2">
            <label class="form-check-label" for="redio2"></label>
          </div>
        </div>

        <p class="text-content">با فعال سازی این گزینه به دیگران اجازه میدهید ایمیل شما را مشاهده کنند.</p>
      </div>

      <button class="btn theme-bg-color btn-md fw-bold mt-4 text-white">ذخیره تغییرات</button>
    </div>

    <div class="dashboard-bg-box mt-4">
      <div class="dashboard-title mb-4">
        <h3>تنظیمات حساب</h3>
      </div>

      <div class="privacy-box">
        <div class="d-flex align-items-start">
          <h6>حساب کاربریم را پس از خارج شدن من حذف کن!!</h6>
          <div class="form-check form-switch switch-radio ms-auto">
            <input class="form-check-input" type="checkbox" role="switch"
                   id="redio3">
            <label class="form-check-label" for="redio3"></label>
          </div>
        </div>
        <p class="text-content">حساب کاربری شما پس از خروج شما حذف خواهد (این فرآیند قابل بازیابی نیست!)</p>
      </div>

      <div class="privacy-box">
        <div class="d-flex align-items-start">
          <h6>تصویر پروفایل من را نمایش دهید</h6>
          <div class="form-check form-switch switch-radio ms-auto">
            <input class="form-check-input" type="checkbox" role="switch"
                   id="redio4">
            <label class="form-check-label" for="redio4"></label>
          </div>
        </div>

        <p class="text-content">با فعال سازی این گزینه امکان دنلود تصویر پروفایل شما توسط دیگران وجود دارد. لطفا پ از فعال سازی این گرینه از تصویر خود برا پروفایل استفاده نفرمایید.</p>
      </div>

      <button class="btn theme-bg-color btn-md fw-bold mt-4 text-white">حذف حساب کاربری</button>
    </div>
  </div>
</div>
