<!-- Banner Section Start -->
<section class="banner-section ratio_60 wow fadeInUp">
  <div class="container-fluid-lg">
    <div class="row g-sm-4 g-3">
      <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="banner-contain hover-effect">
          <img src="assets/images/vegetable/banner/4.jpg" class="bg-img blur-up lazyload" alt="">
          <div class="banner-details">
            <div class="banner-box">
              <h6 class="text-danger">5% تخفیف</h6>
              <h5>جدیدترین محصولات</h5>
              <h6 class="text-content">تخم مرغ و لبنیات</h6>
            </div>
            <a href="shop-left-sidebar.html" class="banner-button text-white">خرید آنلاین <i class="fa-solid fa-left-long ms-2"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="banner-contain hover-effect">
          <img src="assets/images/vegetable/banner/5.jpg" class="bg-img blur-up lazyload" alt="">
          <div class="banner-details">
            <div class="banner-box">
              <h6 class="text-danger">10% تخفیف</h6>
              <h5>تشویق خرید</h5>
              <h6 class="text-content">سبزیجات تازه</h6>
            </div>
            <a href="shop-left-sidebar.html" class="banner-button text-white">خرید آنلاین <i class="fa-solid fa-left-long ms-2"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="banner-contain hover-effect">
          <img src="assets/images/vegetable/banner/6.jpg" class="bg-img blur-up lazyload" alt="">
          <div class="banner-details">
            <div class="banner-box">
              <h6 class="text-danger">5% تخفیف</h6>
              <h5>گوشت ارگانیک تازه</h5>
              <h6 class="text-content">تحویل سریع درب منزل</h6>
            </div>
            <a href="shop-left-sidebar.html" class="banner-button text-white">خرید آنلاین <i class="fa-solid fa-left-long ms-2"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="banner-contain hover-effect">
          <img src="assets/images/vegetable/banner/7.jpg" class="bg-img blur-up lazyload" alt="">
          <div class="banner-details">
            <div class="banner-box">
              <h6 class="text-danger">5% تخفیف</h6>
              <h5>تشویق خرید</h5>
              <h6 class="text-content">آجیل و میان وعده</h6>
            </div>
            <a href="shop-left-sidebar.html" class="banner-button text-white">خرید آنلاین <i class="fa-solid fa-left-long ms-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->
