<div class="tab-pane fade show" id="pills-wishlist" role="tabpanel"
     aria-labelledby="pills-wishlist-tab">
  <div class="dashboard-wishlist">
    <div class="title">
      <h2>لیست علاقه‌مندی من</h2>
      <span class="title-leaf title-leaf-gray">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="assets/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
    </div>
    <div class="row g-sm-4 g-3">
      <div class="col-xxl-3 col-lg-6 col-md-4 col-sm-6">
        <div class="product-box-3 theme-bg-white h-100">
          <div class="product-header">
            <div class="product-image">
              <a href="product-left.html">
                <img src="assets/images/cake/product/2.png"
                     class="img-fluid blur-up lazyload" alt="">
              </a>

              <div class="product-header-top">
                <button class="btn wishlist-button close_button">
                  <i data-feather="x"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="product-footer">
            <div class="product-detail">
              <span class="span-name">سبزیجات</span>
              <a href="product-left.html">
                <h5 class="name">آرد نان و شیرینی تازه 200 گرم</h5>
              </a>
              <p class="text-content mt-1 mb-2 product-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
              <h6 class="unit mt-1">250 میلی لیتر</h6>
              <h5 class="price">
                <span class="theme-color">8.200 تومان</span>
                <del>15.150</del>
              </h5>
              <div class="add-to-cart-box mt-2">
                <button class="btn btn-add-cart addcart-button">افزودن
                  <span class="add-icon bg-light-gray"> <i class="fa-solid fa-plus"></i> </span></button>
                <div class="cart_qty qty-box">
                  <div class="input-group">
                    <button type="button" class="qty-left-minus"
                            data-type="minus" data-field="">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <input class="form-control input-number qty-input"
                           type="text" name="quantity" value="0">
                    <button type="button" class="qty-right-plus"
                            data-type="plus" data-field="">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-6 col-md-4 col-sm-6">
        <div class="product-box-3 theme-bg-white h-100">
          <div class="product-header">
            <div class="product-image">
              <a href="product-left.html">
                <img src="assets/images/cake/product/3.png"
                     class="img-fluid blur-up lazyload" alt="">
              </a>

              <div class="product-header-top">
                <button class="btn wishlist-button close_button">
                  <i data-feather="x"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="product-footer">
            <div class="product-detail">
              <span class="span-name">سبزیجات</span>
              <a href="product-left.html">
                <h5 class="name">بیسکویت کره بادام زمینی با کیفیت عالی
                  600 گرم</h5>
              </a>
              <p class="text-content mt-1 mb-2 product-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
              <h6 class="unit mt-1">350 گرم</h6>
              <h5 class="price">
                <span class="theme-color">4.330 تومان</span>
                <del>10.360</del>
              </h5>
              <div class="add-to-cart-box mt-2">
                <button class="btn btn-add-cart addcart-button">افزودن
                  <span class="add-icon bg-light-gray"> <i class="fa-solid fa-plus"></i> </span></button>
                <div class="cart_qty qty-box">
                  <div class="input-group">
                    <button type="button" class="qty-left-minus"
                            data-type="minus" data-field="">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <input class="form-control input-number qty-input"
                           type="text" name="quantity" value="0">
                    <button type="button" class="qty-right-plus"
                            data-type="plus" data-field="">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-6 col-md-4 col-sm-6">
        <div class="product-box-3 theme-bg-white h-100">
          <div class="product-header">
            <div class="product-image">
              <a href="product-left.html">
                <img src="assets/images/cake/product/4.png"
                     class="img-fluid blur-up lazyload" alt="">
              </a>

              <div class="product-header-top">
                <button class="btn wishlist-button close_button">
                  <i data-feather="x"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="product-footer">
            <div class="product-detail">
              <span class="span-name">اسنک</span>
              <a href="product-left.html">
                <h5 class="name">چیسپس تایلندی مدل 2001 20 گرم</h5>
              </a>
              <p class="text-content mt-1 mb-2 product-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
              <h6 class="unit mt-1">570 گرم</h6>
              <h5 class="price">
                <span class="theme-color">12.520 تومان</span>
                <del>13.620</del>
              </h5>
              <div class="add-to-cart-box mt-2">
                <button class="btn btn-add-cart addcart-button">افزودن
                  <span class="add-icon bg-light-gray"> <i class="fa-solid fa-plus"></i> </span></button>
                <div class="cart_qty qty-box">
                  <div class="input-group">
                    <button type="button" class="qty-left-minus"
                            data-type="minus" data-field="">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <input class="form-control input-number qty-input"
                           type="text" name="quantity" value="0">
                    <button type="button" class="qty-right-plus"
                            data-type="plus" data-field="">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-6 col-md-4 col-sm-6">
        <div class="product-box-3 theme-bg-white h-100">
          <div class="product-header">
            <div class="product-image">
              <a href="product-left.html">
                <img src="assets/images/cake/product/5.png"
                     class="img-fluid blur-up lazyload" alt="">
              </a>

              <div class="product-header-top">
                <button class="btn wishlist-button close_button">
                  <i data-feather="x"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="product-footer">
            <div class="product-detail">
              <span class="span-name">اسنک</span>
              <a href="product-left.html">
                <h5 class="name">چیپس سیب زمینی پاشیده چیلی یومیتوس 100 گرم
                </h5>
              </a>
              <p class="text-content mt-1 mb-2 product-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز </p>
              <h6 class="unit mt-1">100 گرم</h6>
              <h5 class="price">
                <span class="theme-color">10.250 تومان</span>
                <del>12.360</del>
              </h5>
              <div class="add-to-cart-box mt-2">
                <button class="btn btn-add-cart addcart-button">افزودن
                  <span class="add-icon bg-light-gray"> <i class="fa-solid fa-plus"></i> </span></button>
                <div class="cart_qty qty-box">
                  <div class="input-group">
                    <button type="button" class="qty-left-minus"
                            data-type="minus" data-field="">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <input class="form-control input-number qty-input"
                           type="text" name="quantity" value="0">
                    <button type="button" class="qty-right-plus"
                            data-type="plus" data-field="">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-6 col-md-4 col-sm-6">
        <div class="product-box-3 theme-bg-white h-100">
          <div class="product-header">
            <div class="product-image">
              <a href="product-left.html">
                <img src="assets/images/cake/product/6.png"
                     class="img-fluid blur-up lazyload" alt="">
              </a>

              <div class="product-header-top">
                <button class="btn wishlist-button close_button">
                  <i data-feather="x"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="product-footer">
            <div class="product-detail">
              <span class="span-name">سبزیجات</span>
              <a href="product-left.html">
                <h5 class="name">کوکی های ترد فانتزی شکلات چیپ</h5>
              </a>
              <p class="text-content mt-1 mb-2 product-content">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. </p>
              <h6 class="unit mt-1">550 گرم</h6>
              <h5 class="price">
                <span class="theme-color">14.250 تومان</span>
                <del>16.270</del>
              </h5>
              <div class="add-to-cart-box mt-2">
                <button class="btn btn-add-cart addcart-button">افزودن
                  <span class="add-icon bg-light-gray"> <i class="fa-solid fa-plus"></i> </span></button>
                <div class="cart_qty qty-box">
                  <div class="input-group">
                    <button type="button" class="qty-left-minus"
                            data-type="minus" data-field="">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <input class="form-control input-number qty-input"
                           type="text" name="quantity" value="0">
                    <button type="button" class="qty-right-plus"
                            data-type="plus" data-field="">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-6 col-md-4 col-sm-6">
        <div class="product-box-3 theme-bg-white h-100">
          <div class="product-header">
            <div class="product-image">
              <a href="product-left.html">
                <img src="assets/images/cake/product/7.png"
                     class="img-fluid blur-up lazyload" alt="">
              </a>

              <div class="product-header-top">
                <button class="btn wishlist-button close_button">
                  <i data-feather="x"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="product-footer">
            <div class="product-detail">
              <span class="span-name">سبزیجات</span>
              <a href="product-left.html">
                <h5 class="name">آرد نان و شیرینی تازه 200 گرم</h5>
              </a>
              <p class="text-content mt-1 mb-2 product-content">در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>
              <h6 class="unit mt-1">1 کیلوگرم</h6>
              <h5 class="price">
                <span class="theme-color">12.680 تومان</span>
                <del>14.690</del>
              </h5>
              <div class="add-to-cart-box mt-2">
                <button class="btn btn-add-cart addcart-button">افزودن
                  <span class="add-icon bg-light-gray"> <i class="fa-solid fa-plus"></i> </span></button>
                <div class="cart_qty qty-box">
                  <div class="input-group">
                    <button type="button" class="qty-left-minus"
                            data-type="minus" data-field="">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <input class="form-control input-number qty-input"
                           type="text" name="quantity" value="0">
                    <button type="button" class="qty-right-plus"
                            data-type="plus" data-field="">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-6 col-md-4 col-sm-6">
        <div class="product-box-3 theme-bg-white h-100">
          <div class="product-header">
            <div class="product-image">
              <a href="product-left.html">
                <img src="assets/images/cake/product/2.png"
                     class="img-fluid blur-up lazyload" alt="">
              </a>

              <div class="product-header-top">
                <button class="btn wishlist-button close_button">
                  <i data-feather="x"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="product-footer">
            <div class="product-detail">
              <span class="span-name">سبزیجات</span>
              <a href="product-left.html">
                <h5 class="name">آرد نان و شیرینی تازه 200 گرم</h5>
              </a>
              <p class="text-content mt-1 mb-2 product-content"> این یک نوشته آزمایشی است که به طراحان و برنامه نویسان کمک میکند تا این عزیزان با بهره گیری از این نوشته تستی و آزمایشی بتوانند نمونه تکمیل شده از پروژه و طرح خودشان را به کارفرما نمایش دهند، استفاده از این متن تستی می تواند سرعت پیشرفت پروژه را افزایش دهد، و طراحان به جای تایپ و نگارش متن می توانند تنها با یک کپی و پست این متن را در کادرهای مختلف جایگزین نمائید. این نوشته توسط سایت لورم ایپسوم فارسی نگاشته شده است.</p>
              <h6 class="unit mt-1">250 میلی لیتر</h6>
              <h5 class="price">
                <span class="theme-color">8.200 تومان</span>
                <del>15.150</del>
              </h5>
              <div class="add-to-cart-box mt-2">
                <button class="btn btn-add-cart addcart-button">افزودن
                  <span class="add-icon bg-light-gray"> <i class="fa-solid fa-plus"></i> </span></button>
                <div class="cart_qty qty-box">
                  <div class="input-group">
                    <button type="button" class="qty-left-minus"
                            data-type="minus" data-field="">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <input class="form-control input-number qty-input"
                           type="text" name="quantity" value="0">
                    <button type="button" class="qty-right-plus"
                            data-type="plus" data-field="">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
