<!-- Breadcrumb Section Start -->
<section class="breadscrumb-section pt-0">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-12">
        <div class="breadscrumb-contain">
          <h2 class="mb-2">ورود به حساب کاربری</h2>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="../../../index.html">
                  <i class="fa-solid fa-house"></i>
                </a>
              </li>
              <li class="breadcrumb-item active">ورود به حساب کاربری</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- log in section start -->
<section class="log-in-section background-image-2 section-b-space">
  <div class="container-fluid-lg w-100">
    <div class="row">
      <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
        <div class="image-contain">
          <img src="../../../assets/images/inner-page/log-in.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-xxl-4 col-xl-5 col-lg-6 me-auto">
        <div class="log-in-box">
          <div class="log-in-title">
            <h3>به فست کارت خوش آمدید</h3>
            <h4>ورود به حساب کاربری</h4>
          </div>

          <div class="input-box">
            <form class="row g-4" (ngSubmit)="onSubmit($event)" >
              <div class="col-12" *ngIf="!emailOrPhoneNumberIsExist">
                <div class="form-floating theme-form-floating log-in-form">
                  <input type="email" name="userKey" [(ngModel)]="userCredential" class="form-control" id="email" placeholder="ایمیل خود را وارد کنید">
                  <label for="email">شماره موبایل یا ایمیل</label>
                </div>
              </div>

              <div class="col-12" *ngIf="emailOrPhoneNumberIsExist">
                <div class="form-floating theme-form-floating log-in-form">
                  <input type="password" name="password" [(ngModel)]="userConfirmation" class="form-control" id="رمز عبور خود را وارد کنید"
                         placeholder="Password">
                  <label>رمز عبور</label>
                </div>
              </div>

              <div class="col-12" *ngIf="emailOrPhoneNumberIsExist">
                <div class="forgot-box">
                  <a href="forgot.html" class="forgot-password">رمز عبور خود را فراموش کردم</a>
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-animation w-100 justify-content-center">{{submitButtonCaption}}
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- log in section end -->
